@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  margin-top: 90px;
  overflow-x: hidden;
  background: #fff;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 86%;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background: #ffffff;
}

.logo {
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  fill: #112434;
}
.logo:hover {
  fill: white;
  background-color: #112434;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navigation li a {
  padding: 6px 15px;
  color: #112434;
  border-radius: 20px;
}

.navigation li a:hover,
.navigation li a.active {
  background: #112434;
  color: #fff;
}
.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
img {
  position: absolute;
  width: 100%;
}
.text {
  padding: 0 20%;
}
.text h1 {
  text-align: center;
}
